#map {
  height: 92.5vh; /* viewport height */
}
/* Optional: Makes the sample page fill the window. */
html, body {
  margin: 0;
}

#App {
  height: 100%;
}

.header {
  padding: 15px;
  text-align: center;
  background: #1b293b;
  color: white;
  font-size: 30px;
  min-height: 40px;
}

.infoContent {
  font-style: italic;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px;
  border-bottom:1px solid #fff;
  padding:5px;
}

a {
  color: white
}

/*
  Search Input
*/

.search-input {
  color: rgb(78, 116, 232);
  width: 98%;
  height: 20px;
}

/*
  Responsive CSS
*/

@media screen and (max-width: 650px){
  .header {
    font-size: 20px;
    text-align: center;
  }

  #map {
    height: 91.5vh;
  }

  .bm-burger-button {
      position: fixed;
      width: 30px;
      height: 25px;
      left: 30px;
      top: 18px;
  }

  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1em;
  }
}

/*
  SideBar component
*/

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  /* Sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  /* color: #6c9ff7; */
  transition: color 0.2s;
  /* height: 800px; */
}

.bm-item:hover {
  color: #7416d2;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 21px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #c7cce2;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
